* {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Century Gothic', sans-serif;
}

@mixin fnt($fw, $fz, $lh) {
    font-weight: $fw;
    font-size: $fz + px;
    line-height: $lh + px;
}


/*----------------------------------------*/

$mw: 1920;
$mw1: 1440;
$mw2: 1024;
$mw3: 768;
$mw4: 320;

/* global ----------------------------------------------------------------------*/

h1 {
    @include fnt(700, 60, 68.94);
    font-family: Ubuntu;
    color: #040404;
}

h2 {
    @include fnt(700, 40, 45.96);
    font-family: Ubuntu;
    color: #040404;
}

h3 {
    @include fnt(700, 30, 34.47);
    font-family: Ubuntu;
    color: #040404;
}

h4 {}


/* -----------------------------------------------------------------------------*/


/*----------------------------------------*/


/******************************************************************************/